.parent{
    position: relative;
    text-align: center;
    overflow: hidden;
}

.bot-bg{
    overflow: hidden;
    margin-left: -48px;
    width: 110vw;
    height: 120vh;
}
.recipe-text{
    overflow: hidden;
    position: absolute;
    top: 10px;

}

ul li{
    overflow: hidden;
    display: inline-block;
    position: relative;
    align-items: center;
    
    padding: 1rem 2rem;
    margin: 1.5rem 1rem;
    justify-content: space-around;
    border-radius: .3rem;
    background-color: rgb(178, 229, 185, 1);
    color: black;
    font-weight: bold;
}
ul ol{
    overflow: hidden;
    padding: 1rem 1rem;
}