.submit-btn{
    width: 100px;
    height: 50px;
    background-color: rgb(69, 69, 216);
    border-radius: 2rem;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
    margin-left: 47rem;
}

.submit-btn:hover{
    background-color: rgb(43, 43, 155);
}